<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kedacom.vector.mapper.DivisionMapper">
    <resultMap id="BaseResultMap" type="com.kedacom.vector.entity.Division">
        <result column="gid" property="gid"></result>
        <result column="admincode" property="admincode"></result>
        <result column="kind" property="kind"></result>
        <result column="geom" property="geom" javaType="com.kedacom.vector.entity.GeometryEntity" typeHandler="com.kedacom.vector.handler.CustomTypeHandler"></result>
    </resultMap>
    <select id="queryDivisionList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            gid,
            admincode,
            kind,
            st_asgeojson(geom) as geom
         from ${tableName}
    </select>

    <select id="unionDivision" resultType="java.lang.String">
        select st_asgeojson(st_union(geom)) as geom from ${tableName};
    </select>

    <insert id="insertDivisionList">
        insert into ${toTableName} select * from ${fromTableName} where admincode like #{prefixAdminCode} || '%'
    </insert>

    <delete id="deleteDivisionList">
        delete from ${tableName} where admincode like #{prefixAdminCode} || '%'
    </delete>
</mapper>
