<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kedacom.vector.mapper.DivisionTextMapper">
    <resultMap id="BaseResultMap" type="com.kedacom.vector.entity.DivisionText">
        <result column="gid" property="gid"></result>
        <result column="mapid" property="mapid"></result>
        <result column="id" property="id"></result>
        <result column="kind" property="kind"></result>
        <result column="class" property="level"></result>
        <result column="admincode" property="admincode"></result>
        <result column="oid_" property="oid"></result>
        <result column="featid" property="featid"></result>
        <result column="nametype" property="nametype"></result>
        <result column="name" property="name"></result>
        <result column="py" property="py"></result>
        <result column="keyword" property="keyword"></result>
        <result column="seq_nm" property="seqNm"></result>
        <result column="signnumflg" property="signnumflg"></result>
        <result column="signnametp" property="signnametp"></result>
        <result column="language" property="language"></result>
        <result column="nameflag" property="nameflag"></result>
        <result column="geom" property="geom" javaType="com.kedacom.vector.entity.GeometryEntity" typeHandler="com.kedacom.vector.handler.CustomTypeHandler"></result>
    </resultMap>
    <select id="queryDivisionTextList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            gid,
            mapid,
            id,
            kind,
            class,
            admincode,
            oid_,
            featid,
            nametype,
            name,
            py,
            keyword,
            seq_nm,
            signnumflg,
            signnametp,
            language,
            nameflag,
            st_asgeojson(geom) as geom
         from dt where
            st_contains(st_geomfromgeojson(#{geojson}),geom)
    </select>
</mapper>
