<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kedacom.vector.mapper.ProjectResourceMapper">
    <resultMap id="BaseResultMap" type="com.kedacom.vector.entity.ProjectResource">
        <id column="id" property="id"></id>
        <result column="project_id" property="projectId"></result>
        <result column="resource_id" property="resourceId"></result>
    </resultMap>
</mapper>